{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="wrapper">
        <div style="margin: 30px">
            <p>AgroNote is an innovative application specifically designed for agronomists and farmers to efficiently
                plan and manage their tasks throughout the season. It is a powerful tool that combines ease of use and
                functionality to help agronomists maximize crop yield and optimize field work.</p>
            <p>AgroNote is a reliable partner for agronomists, simplifying task planning and management, and ultimately
                enhancing productivity in the field.</p>
        </div>
    </div>
{% endblock %}
